h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.67em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.33em;
}

h6 {
    font-size: 1.17em;
}

p {
    line-height: 150%;
    font-size: 14pt;
}

.button a {
    color: rgba(100, 100, 230);
    font-size: 14pt;
}

.button:hover {
    background-color: rgba(100, 100, 230);
}

.button:hover a {
    color: white;
}

meter::-webkit-meter-optimum-value {
    background-color: rgba(100, 100, 230);
}

meter::-webkit-meter-suboptimum-value {
    background-color: rgba(100, 100, 230);
}

meter::-webkit-meter-even-less-good-value {
    background-color: rgba(100, 100, 230);
}

.navbar {
    background-color: rgba(50, 50, 50, 0.8);
    padding-top: 5px;
    text-align: center;
    position: fixed; 
    left: 50%; 
    top: 0px;
    transform: translateX(-50%);
    border-radius: 0px 0px 20px 20px;
    white-space: nowrap;
}

.navbar ul {
    padding: 0px 20px 0px 20px;
}

.navbar li {
    display: inline-block;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}

.navbar li a:hover {
    color: rgba(100, 100, 230);
}

li a.active {
    color: rgb(100, 100, 230);
}

body {
    background-color: black;
    color: white;
    padding: 50px;
    overflow: hidden;
}

.box {
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    width: 40vw;
    height: 4vh;
    display: block;
    margin-top:20px;
}

textarea, input[type=text] {
    font-family:Arial;
    resize: none;
    margin-top: 20px;
    color: white;
}

button {
    background-color: black; 
    color: rgba(100, 100, 230); 
    border: 2px solid rgba(100, 100, 230); 
    padding: 10px
}

form button:hover {
    background-color: rgba(100, 100, 230) !important;
    color: white !important;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}